<!--The content below is only a placeholder and can be replaced.-->

<div class="ui top fixed menu">
  <div class="ui container">
    <a routerLink="/" class="header item">
      <img src="http://d21gd0ap5v1ndt.cloudfront.net/logos/i/5918/200/200.png">
        PORT69 Portal
    </a>
    <a class="item" *ngIf="!isAuthenticated" (click)="login()">Login</a>


  <div *ngIf="isAuthenticated" class="ui simple dropdown item">
    Applications
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Social Media</div>
      <a href="https://dev-323697.oktapreview.com/home/twitter/0oai2apw3h20QfJYt0h7/150?fromHome=true"><div class="item">Twitter</div></a>
      
      <a href="http://localhost:1234"><div class="item">HW#2</div></a>

      <div class="divider"></div>
      <div class="header">Developer Tools</div>
      <a href="http://104.248.178.198:8080"><div class="item">Jenkins</div></a>
      <a href="https://dev-323697.oktapreview.com/home/digitalocean/0oai2f14rfOv0yEH30h7/5357?fromHome=true"><div class="item">Digital Ocean</div></a>
    </div>
  </div>

    <a id="home-button" class="item" *ngIf="isAuthenticated" routerLink="/"><i aria-hidden="true" class="home icon"></i>Home</a>
    <a id="profile-button" class="item" *ngIf="isAuthenticated" routerLink="/profile">Profile</a>

    <a id="search-button" class="item" *ngIf="isAuthenticated" routerLink="/search">Employee Database</a>
    <a id="salary-button" class="item" *ngIf="isAuthenticated" routerLink="/salary">Salary</a>

    <a id="logout-button" class="item" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
  </div>
</div>

<div class="ui text container" style="margin-top: 7em;">
  <router-outlet></router-outlet>
</div>
