<h1 class="ui header">
  <i aria-hidden="true" class="drivers license outline icon"></i> My User Profile (ID Token Claims)
</h1>
<p>
  Below is the information from the current user's ID Token which was obtained during the Implicit Flow 
  and is now stored in local storage.
</p>

<table class="ui table">
  <thead>
    <tr>
      <th>Claim</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let claim of claims">
      <td>{{claim.claim}}</td>
      <td id="claim-{{claim.claim}}">{{claim.value}}</td>
    </tr>
  </tbody>
</table>


<!-- <label>Name: </label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="relevantClaims[0].value"
    (input)="checkQueryString(relevantClaims[0].value)"
  />

  <button class="btn" class="ui primary button" role="button" [disabled]="stringInvalid" (click)="updateName()">
    Update
  </button> -->
