<h1 class="ui header">PORT69: Enterprise Application</h1>
<div *ngIf="!isAuthenticated">
  <button id="login-button" class="ui primary button" role="button" (click)="login()">Login</button>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}!</p>

  <p>This application was built for the final project of CMPE172 with Professor Bond at SJSU for Fall 2018.</p>
  <p>Developed by Yu Ning Hee, Robert Campbell, Vivian Leung.
 </p>

All Technologies Used:
 <ul>
  <li>Angular</li>
  <li>Express/Node</li>
  <li>AWS RDS</li>
  <li>Okta</li>
  <li>Jenkins</li>
  <li>Docker</li>
</ul>

</div>

