<h1 class="ui header">Implicit Flow w/ Okta Hosted Login Page</h1>
<div *ngIf="!isAuthenticated">
  <p>If you‘re viewing this page then you have successfully started this Angular application.</p>
  <p>This example shows you how to use the
    <a href="https://github.com/okta/okta-oidc-js/tree/master/packages/okta-angular">Okta Angular Library</a> to add the
    <a href="https://developer.okta.com/authentication-guide/implementing-authentication/implicit">Implicit Flow</a> to your application.</p>
  <p>When you click the login button below, you will be redirected to the login page on your Okta org. After you authenticate,
    you will be returned to this application with an ID Token and Access Token. These tokens will be stored in local storage
    and can be retrieved at a later time.</p>
  <button id="login-button" class="ui primary button" role="button" (click)="login()">Login</button>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}!</p>
  <p>
    You have successfully authenticated against your Okta org, and have been redirected back to this application.  You now have an ID Token and access token in local storage.
    Visit the <a href="/profile">My Profile</a> page to take a look inside the ID Token.
  </p>
  <h3>Next Steps</h3>
  <p>
    Currently this application is a stand-alone front end application.
    At this point you can use the access token to authenticate yourself against resource servers that you control.
  </p>
  <p>
    This sample is designed to work with one of our resource server examples.
    To see access token authentication in action, please download one of these resource server examples:
  </p>
  <ul>
    <li *ngFor="let example of resourceServerExamples"><a href="{{example.url}}">{{example.label}}</a></li>
  </ul>
  <p>Once you have downloaded and started the example resource server, you can visit the <a href="/messages">My Messages</a> page to see the authentication process in action.</p>
</div>
